.p-text{
    font-size: 25px;
    color: rgb(9, 30, 66);
    margin-top: 12px;
    width: 433px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: aqua;
}

.p-text-header{
    font-size: 25px;
    color: white;
    margin-top: 12px;
    width: 433px;
}
/* ///////////////////// */
.card {
    width: 100%;
    height: 30px;
}

.position-value {
    margin-bottom: 20px;
    margin-top: -32px;
    font-size: 54px;
}
.text-button-position {

    margin-top: -3px;

}

.btn-outline-tour {
    --bs-btn-color: #080808;
    --bs-btn-border-color: #5734f3;
   
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f9edc9;
    --bs-btn-hover-border-color: #ffc10700;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
    width: 48%;
    height: 42px;
    border-radius: 3px;
    border-color: #000;
    border-collapse: var(--bs-btn-active-color);
}


.card3 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 3px;
    --bs-card-border-color: rgb(5 10 255 / 41%);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 26%;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}