.text-middle {
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-left: 150px;
    color: white;
}

.text-center {
    text-align: center;

    margin-top: 20px;
}

.card-image {

    height: 108px;

    margin-left: -107px;
}

.space {
    margin-right: 30px;
    width: 50%;
}

.button-align {
    margin-left: 15px;
}

.p-text {
    margin-top: 20px;
    width: 54%;
    margin-left: 300px;
    font-size: 19px;
}

.project-details-text {

    width: 63%;
    font-size: 19px;
}

.text-middle-size {
    font-size: 21px;
}

.form-input-button {
    margin-left: 111px;
    /* padding: 7px; */
}

.form-control1 {
    display: block;
    width: 190%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sign-up-button {
    margin-left: 204px;
    height: 43px;
}

.card1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    /* --bs-card-border-width: 1px; */
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card2 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    /* --bs-card-border-width: 1px; */
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    width: 30%;
    background-color: rgb(249 249 249);
}

.btn-outline-tour {
    --bs-btn-color: #080808;
    --bs-btn-border-color: #201f19;
    border: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f9edc9;
    --bs-btn-hover-border-color: #ffc10700;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
    /* width: 109%; */
    height: 77px;
}

.text-aline {
    text-align: center;
    width: 50%;
    margin-left: 214px;
}

.position-value {
    margin-bottom: 20px;
    margin-top: -32px;
    font-size: 54px;
}

.text-button-position {

    margin-top: 30px;

}

.background-color-header{
    background-color: rgb(172, 11, 172) ;
}
.background-color-body{
    background-color: rgb(99, 89, 245) ;
}