.navbar-div{
    border-right: 1px solid #d9d5d5;
    margin-left: 90%;
    padding: 8px 16px 32px 32px;
}
.nav-div{
    width: 24%;
    margin-left: 29px;
    margin-top: 20px;
}
.updates{
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 82, 204);
font-weight: bold;
}
.power-up-text{
    font-weight: bold; 
}
.power-up-link{
    font-size: 14px;
    text-decoration: none;
    color: #172B4D;
    padding: 17px;
}
.trello{
    width: 41%;
    font-size: 14px;
    margin-left: 50px;
}
.trello-power-up{
text-decoration: none;
}
.trello-power-up:hover{
    text-decoration: underline;
    color: #0065FF;
    }