.trello {
	margin-left: 210px;
	width: 78%;
	margin-right: 114px;
}

h3 {
	font-family: var(--font-family-display, "Charlie Display", sans-serif);
	line-height: 1.33333;
	color: rgb(9, 30, 66);
}

p {
	font-size: 20px;
}

a {
	font-size: 20px;
}

.remote-work-navbar {
	background: linear-gradient(90deg, rgb(179, 245, 255) 0%, rgb(0, 184, 217) 99%);
	height: 0.25rem;
	transition: width 0.2s ease 0s;
	position: sticky;
	top: 0;
	width: 11%;
	cursor: default;
	right: 0px;
	left: 0;
}

.embrace-remote {
	background: linear-gradient(60deg, rgb(101, 84, 192), rgb(249, 156, 219)) no-repeat;
	height: 450px;
}

.embrace-remote-image {
	width: 74%;
	margin-top: 50px;
	margin-left: -61px;
}

.embrace-remote-header {
	margin-top: 129px;
	font-size: 43px;
	color: white;
}

.embrace-remote-text {
	font-size: 21px;
	color: white;
	width: 93%;
}

.trello-nav-text {
	margin-left: 94px;
	margin-top: 34px;
	cursor: pointer;
	color: rgb(9, 30, 66);
	font-size: 16px;
}

.trello-nav-div {
	width: 66%;
}
.text-color{
	color: rgb(0, 163, 191);
}
.trello-nav-header {
	font-size: 21px;
	font-weight: bold;
}

.trello-nav {
	display: block;
	width: 144%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	height: 627px;
	margin-top: 24px;
	position: sticky;
	top: 0;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: white;
	box-shadow: 0rem 0rem 1rem gray;
	border-radius: 0.375rem;
}



.productive-div {
	margin-left: 225px;
	margin-right: 118px;
}

.productive-text {
	margin-top: 115px;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 68px;
}

.work-div {
	margin-top: 50px;
}

.work-header {
	color: rgb(0, 163, 191);
}


.work-card {
	color: rgba(255, 255, 255, 1);
	height: 60px;
	width: 417px;
	margin-left: 297px;
	background-color: rgb(101, 84, 192);
	padding: 1rem 1.7rem;
	text-align: right;
	border-radius: 10px;
}

.remote-card {
	color: rgba(255, 255, 255, 1);
	height: 111px;
	width: 480px;
	background-color: rgb(178, 40, 101);
	padding: 1rem 1.7rem;
	text-align: right;
	border-radius: 10px;
	margin-top: 50px;
}

.tried-card {
	color: rgba(255, 255, 255, 1);
	height: 83px;
	width: 488px;
	margin-left: 233px;
	background-color: rgb(101, 84, 192);
	padding: 1rem 1.7rem;
	text-align: right;
	border-radius: 10px;
	margin-top: 50px;
}

.slacking-card {
	color: rgba(255, 255, 255, 1);
	height: 62px;
	width: 480px;
	background-color: rgb(178, 40, 101);
	padding: 1rem 1.7rem;
	text-align: right;
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 39px;
}

.build-image {
	width: 100%;
	margin-top: 30px;
}

.image {
	width: 98%;
	margin-top: 30px;
	height: 400px;
}

.remote-work-button {
	height: 50px;
	width: 59%;
	--bs-btn-color: #fff;
	--bs-btn-bg: #0d6efd;
	color: white;
	background-color: #0d6efd;
	--bs-btn-border-color: #0d6efd;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #0b5ed7;
	text-align: left;
	--bs-btn-hover-border-color: #0a58ca;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #0a58ca;
	--bs-btn-active-border-color: #0a53be;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #0d6efd;
	--bs-btn-disabled-border-color: #0d6efd;
}

#remote-button {
	text-align: left;
}

.remote-btn {
	margin-left: 280px;
	margin-top: 30px;
	--bs-btn-padding-x: 0.75rem;
	--bs-btn-padding-y: 0.375rem;
	--bs-btn-font-family: ;
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: #212529;
	--bs-btn-bg: transparent;
	--bs-btn-border-width: 1px;
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
	font-family: var(--bs-btn-font-family);
	font-size: var(--bs-btn-font-size);
	font-weight: var(--bs-btn-font-weight);
	line-height: var(--bs-btn-line-height);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.remote-image {
	margin-left: -63px;
	margin-top: 30px;
	color: white;
	cursor: pointer;
}

.remote-image:hover {
	margin-left: -53px;
	margin-top: 30px;
	color: white;
	cursor: pointer;
}

.sign-up-button {
	align-items: center;
	border-radius: 0.3rem;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(101, 84, 192);
	font-size: 1rem;
	padding: 0.7rem 1rem 0.8rem;
	color: rgb(23, 43, 77) !important;
	margin-left: 287px;
}

.sign-up-button:hover {
	align-items: center;
	border-radius: 0.3rem;
	cursor: pointer;
	background-color: rgb(241, 241, 241);
	border: 1px solid rgb(101, 84, 192);
	font-size: 1rem;
	padding: 0.7rem 1rem 0.8rem;
	color: rgb(23, 43, 77) !important;
	margin-left: 287px;
}

.trello-image {
	width: 18%;
	margin-left: 300px;
	margin-top: 130px;
}

.trello-header {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: rgb(23, 43, 77) !important;
}

.trello-text {
	font-size: 16px;
	text-align: center;
	color: rgb(23, 43, 77) !important;
}

.hybrid-work-div {
	background: linear-gradient(60deg, rgb(178, 40, 101), rgb(255, 116, 82)) no-repeat;
	border-radius: 10px;
	padding: 39px 44px;
	margin-top: 42px;
	height: 138px;
	margin-bottom: 50px;
}

.learn-hybrid-work-button {
	align-items: center;
	border-radius: 0.3rem;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(214, 38, 136);
	font-size: 1rem;
	color: rgb(23, 43, 77) !important;
	width: 100%;
	height: 58px;
	margin-left: 15px;
	margin-top: 7px;
}

.learn-hybrid-work-button:hover {
	align-items: center;
	border-radius: 0.3rem;
	cursor: pointer;
	background-color: rgb(241, 241, 241);
	border: 1px solid rgb(214, 38, 136);
	font-size: 1rem;
	color: rgb(23, 43, 77) !important;
	width: 100%;
	height: 58px;
	margin-left: 15px;
	margin-top: 7px;
}

.hybrid-work-header {
	font-size: 21px;
	color: white;
}

.hybrid-work-text {
	font-size: 21px;
	color: white;
}