h1 {
    font-size: 3rem;
    line-height: 1.25;
    color: rgb(9, 30, 66);
    font-family: var(--font-family-display, "Charlie Display", sans-serif);
}

h2 {

    color: rgb(9, 30, 66);
    font-size: 2.25rem;
    line-height: 1.33333;
    font-family: var(--font-family-display, "Charlie Display", sans-serif);
}

p {
    font-size: 20px;
    margin-bottom: 1rem;
    color: rgb(9, 30, 66);
    font-family: var(--font-family-text, "Charlie Text", sans-serif);
}

.text-color {
    color: white;
}

.trello-enterprise-text-div {
    width: 70%;
    margin-top: 55px;
}

.trello-enterprise {
    margin-left: 122px;
    margin-right: 130px;
    margin-top: 108px;
}

.contact-sales-button {
    width: 37%;
    height: 52px;
    background-color: white;
    border-radius: 4px;
}

.contact-sales {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.trello-enterprise-div {
    height: 458px;
}

.trello-enterprise-color {
    background: linear-gradient(rgb(64, 50, 148), rgb(178, 40, 101)) no-repeat;
}

.trello-enterprise-image {
    max-width: 100%;
    height: auto;
    margin-top: 55px;
}

.trello-powers {
    width: 58%;

    text-align: center;
    margin-left: 334px;
}

.trello-powers-image {
    width: 82%;
    margin-left: 125px;
}

.trello-marketing-image {
    width: 67%;
    margin-left: -135px;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.33333;
    font-family: var(--font-family-display, "Charlie Display", sans-serif);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: var(--font-family-display, "Charlie Display", sans-serif);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.teams-div {
    width: 48%;
    margin-top: 62px;
}

.admins-div {
    width: 48%;
    margin-top: 62px;
    margin-left: 50px;
}

.request-button {
    text-align: center;
    margin-left: 495px;
    margin-top: 30px;
    height: 50px;
    width: 15%;
}

.join-teams {
    text-align: center;
    background: linear-gradient(rgb(64, 50, 148), rgb(23, 43, 77));
}

.join-teams-image {
    height: 30px;
}

.powering-productivity-image {
    width: 13%;
}

.powering-productivity-header {
    width: 55%;
    margin-left: 313px;
}

.teams-powering-productivity-image {
    margin-left: 12px;
}

.tier-card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 12px;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.tier-div {
    width: 47%;
    background: linear-gradient(rgb(64, 50, 148), rgb(23, 43, 77)) no-repeat;
    text-align: center;
}

.tier-image {
    height: 289px;
}

.btn-explore {
    background-color: white;
    color: rgb(9, 30, 66);
    height: 55px;
}

.explore-button {
    margin-top: 42px;
    margin-bottom: 17px;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.power-up-team {
    margin-left: 20px;
    width: 91%;
}

.enterprise-grade-div {
    background: linear-gradient(0deg, rgb(64, 50, 148), rgb(178, 40, 101)) no-repeat;
    width: 47%;
    text-align: center;
    margin-left: 44px;
}

.curated-image {
    width: 73%;
}

.curated-div {
    width: 63%;
}

.pricing {
    margin-left: 275px;
    width: 48%;
}

.total-div {
    margin-left: 130px;
}

.total-text {
    font-size: 1rem;
    color: gray;
}