.p-text {
    font-size: 25px;
    color: rgb(9, 30, 66);
    margin-top: 12px;
    width: 433px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: white;
    box-shadow: 5px 5px 21px grey;
}

.card-button {
    background-color: white;
    color: var(--bs-nav-pills-link-active-color);
    border: white;
}

.p-text-header {
    font-size: 25px;

    margin-top: 12px;
    width: 433px;
}

/* ///////////////////// */
.card {
    width: 100%;
    height: 30px;
}

.position-value {
    margin-bottom: 20px;
    margin-top: -32px;
    font-size: 54px;
}

.text-button-position {

    margin-top: -3px;

}

.btn-outline-tour {
    --bs-btn-color: #080808;
    --bs-btn-border-color: #5734f3;

    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f9edc9;
    --bs-btn-hover-border-color: #ffc10700;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
    width: 48%;
    height: 42px;
    border-radius: 3px;
    border-color: #000;
    border-collapse: var(--bs-btn-active-color);
}


.card3 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 3px;
    --bs-card-border-color: rgb(5 10 255 / 41%);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 26%;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}


.head-border-card {

    border: 0;
    border-top: 1px;
    margin-top: -153px;
    border-radius: 400px 389px 0px;
    background-color: blue;
    height: 26px;

}

.button-card {

    border-color: white;
    height: 30px;
    width: 23%;
    text-decoration: none;
    border-radius: 50%;
    background-color: #e7e7e7;
    margin-left: 20px;
    color: gray;
}

.button-card:hover {
    color: rgb(0, 183, 255);

}

.list-group-item-action {
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #6e1ef9;
    margin-left: 7px;
}

#cost-button {
    color: white;
    background-color: white;
    height: 13px;
    width: 99%;
}

#usersCost {

    border-color: #000;
    margin-left: 15px;
    margin-right: 10px;
    border-bottom: #000;
    border-width: 300%;
}

.text-color {
    color: rgb(9, 30, 66);
}



/* //////////////////////////////////////////////// carousel */




.team-solutions {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 108px;
}

.team-solutions-header {
    width: 50%;
    margin-left: 340px;
}

.team-solutions-text {
    width: 52%;
    margin-left: 334px
}

.trello {
    margin-left: 230px;
    margin-right: 112px
}

.trello-image {
    width: 110%;
    margin-left: -105px;
    height: 300px;
}

.trello-div {
    width: 75%;
}

.trello-text {
    width: 95%;
}


.join-teams {
    text-align: center;
    background-color: whitesmoke
}

.join-teams-text {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}


.teams-workspace {
    text-align: center;
    margin-top: 80px;
}

.teams-workspace-text {
    width: 51%;
    text-align: center;
    margin-left: 350px;
    font-size: 20px;
}

.teams-workspace-link {
    font-size: 20px;
    margin-top: 130px;
}

.product-roadmap {
    background-color: #d5ffff;
    text-align: left;
}

.product-roadmap-button {
    margin-left: 113px;
    margin-top: 30px;
    width: 27%;
    border-radius: 4px;
}
.product-div{
    height: 0px;
}

.product-roadmap-div {
    height: 134px;
    width: 109%;
    border-radius: 4px;
}


.product-roadmap-link {
    margin-left: -170px;
}

.product-roadmap-text {
    color: rgb(9, 30, 66);
    height: 129px;

    width: 110%;
    text-align: left;
}

.agile-sprint {
    width: 325px;
    margin-left: 116px;
}

.agile-sprint--button {
    margin-left: 113px;
    margin-top: 30px;
    width: 27%;
}

.agile-sprint-link {
    margin-left: -198px;
}

.agile-sprint-text {
    color: rgb(9, 30, 66);
    height: 129px;
    text-align: left;
    width: 110%;
}

.feature-requests-button {
    margin-left: 113px;
    margin-top: 30px;
    width: 27%;
}

.feature-requests-link {
    margin-left: -150px;
}

.feature-requests-text {
    color: rgb(9, 30, 66);
    height: 129px;
    text-align: left;
    width: 100%;
}

.feature-requests-image {
    width: 505%;
    margin-left: -607px;
    height: 490px;
    margin-top: 30px;
    background-color: aqua;
}

.agile-sprint-image {
    width: 505%;
    margin-left: -607px;
    height: 490px;
    margin-top: 30px;
}

.product-roadmap-image {
    width: 505%;
    margin-left: -607px;
    height: 490px;
    margin-top: 30px;
}