.nav-business {
    display: block;
    width: 16%;
    padding: 23px 239px;
    height: 500px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.categories {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-text {
    font-size: 12px;
    margin-top: 13px;
    color: gray;
}

.featured-categories {
    margin-left: -120px;
    width: 62%;
}

.categories-header {
    line-height: 24px;
    font-size: 20px;
}

.templates-header-image {
    width: 7%;
    border-radius: 4px;
}

.templates-header {
    line-height: 24px;
    font-size: 20px;
    margin-left: -270px;
}

.categories-div {
    margin-left: 12px;
    width: 13%;
}

.categories-image {
    border-radius: 4px;
}

.categories-image:hover {
    box-shadow: 0px 5px 7px grey;
    border-radius: 4px;
    cursor: pointer;
}

.categories-text {
    font-size: 12px;
    color: gray;
}